<footer>
    <div class="container-fluid bg-secondary foot">
      <div class="row">
        <div class="col-md-12">
            <i class="fa fa-facebook"></i>&nbsp;&nbsp;
            <i class="fa fa-twitter"></i>&nbsp;&nbsp;
            <i class="fa fa-instagram"></i>&nbsp;&nbsp;
            <i class="fa fa-youtube"></i>&nbsp;&nbsp;        
          <h4>Contact Us</h4>
          <div class="contact-info">
            <i class="fa fa-map-marker"></i> 123 Main Street,Hyderabad,Telangana<br>
            <i class="fa fa-phone"></i> (+91)7890456123<br>
            <i class="fa fa-envelope"></i> cricketfan@gmail.com<br>
         <p>&copy;Designed by Avikalp</p>
        </div>    
        </div>
      </div>
    </div>
  </footer>
  