
<div class="container mt-5">
	<div class="row">
		<div class="col-lg-8 fadein">
			<h1>About Us</h1>
			<p style="font-size: larger; text-transform: capitalize;">We are a sports travel company that specializes in organizing tours to various sporting events around the world. Our mission is to provide our customers with unforgettable experiences that combine their passion for sports with their love of travel.
			Our team consists of experienced travel professionals who are passionate about sports and travel.</p>
		</div>
		<div class="col-lg-4">
			<div class="card bg-primary text-white">
				<div class="card-body">
					<h3>Our Services</h3>
					<ul>
						<li>Ticket reservations</li>
						<li>Hotel bookings</li>
						<li>Transportation arrangements</li>
						<li>Guided tours</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

    <div class="founderheading">
        <h1>Founders</h1>
    </div>    


    <div class="container">
        <div class="row">
            <div class="col-md-4 cont">
             <img src="https://images.pexels.com/photos/1656684/pexels-photo-1656684.jpeg?auto=compress&cs=tinysrgb&w=600" height="400" width="400">   
                <p class="text">ANDY</p>
				<p style="text-transform: capitalize; font-size: larger;">Andy is born and brought up in australia, He always wanted to explore the world of sports,As a child he used to play cricket a lot.one day   
					He came up with an idea to start a company where people can travel and see different sports in different countries.
				</p>
			</div>    
                <div class="col-md-4 cont">
                <img src="https://images.pexels.com/photos/2379004/pexels-photo-2379004.jpeg?auto=compress&cs=tinysrgb&w=600" height="400" width="400">   
                <p class="text">VIRAT</p>   
				<p style="text-transform: capitalize; font-size: larger;">
				Virat is born and brought up in India. He wanted to start a company just like andy and failed , one day andy came to know about virat's idea 
				Andy made virat head of operations for his India's branch.Virat is 29years old and lives in India.
				</p>
                </div> 
                    <div class="col-md-4 cont">
                    <img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&w=600" height="400" width="400">   
                    <p class="text">MIKE</p>
					<p style="text-transform: capitalize; font-size: larger;">
					Mike is born and brought up in the USA. Joined andy and virat's company as head of operations for the USA's branch
					These three are the founders of this sports travel website.Mike is 30years old and lives in USA. 
					</p>   
                    </div> 
        </div>
    </div>
    
    










