<h2 style="text-align:center;" class="bg-info">Tour Of Cricket</h2>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Places to Visit:</h2>
        <ul>
          <li>Lord's Cricket Ground, London</li>
          <li>MCG, Melbourne</li>
          <li>Eden Gardens, Kolkata</li>
          <li>The Wanderers Stadium, Johannesburg</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Hotel Name:</h2>
		<ul>
			<li>The Westbury Mayfair Hotel, London</li>
			<li>Grand Hyatt, Melbourne</li>
			<li>The Oberoi Grand, Kolkata</li>
			<li>The Houghton Hotel, Johannesburg</li>
		  </ul>
   
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Duration:</h2>
        <p>15 days</p>
      </div>
      <div class="col-md-6">
        <h2>Cost:</h2>
        <p>$20,000 per person</p>
      </div>
    </div>
</div>

<button type="submit" class="btn btn-success" (click)="myfun()">Book Now</button>
<button type="reset" class="btn btn-danger">Cancel</button>

<h2 style="text-align:center;" class="bg-info">Tour Of Football</h2>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Places to Visit:</h2>
        <ul>
          <li>Wembley Stadium, London</li>
          <li>Camp Nou, Barcelona, Spain</li>
          <li>Santiago BernaBeu, Madrid, Spain</li>
          <li>De Meer Stadion, Amsterdam, Netherlands</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Hotel Name:</h2>
		<ul>
			<li>The Westbury Mayfair Hotel, London</li>
			<li>Four Seasons Madrid, Spain</li>
			<li>Hotel TwentySeven, Netherlands</li>
			<li>Four Seasons Barcelona, Spain</li>
		  </ul>
   
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Duration:</h2>
        <p>15 days</p>
      </div>
      <div class="col-md-6">
        <h2>Cost:</h2>
        <p>$30,000 per person</p>
      </div>
    </div>
</div>

<button type="submit" class="btn btn-success" (click)="myfun()">Book Now</button>
<button type="reset" class="btn btn-danger">Cancel</button>

<h2 style="text-align:center;" class="bg-info">Tour Of Tennis</h2>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Places to Visit:</h2>
        <ul>
          <li>National Tennis Stadium, China</li>
          <li>Perth Arena, Perth, Australia</li>
          <li>Court Philipe Cartier, France</li>
          <li>Arthur Ashe Stadium, New York City, USA</li>
        </ul>
      </div>
      <div class="col-md-6">
        <h2>Hotel Name:</h2>
		<ul>
			<li>Four Seasons, Beijing, China</li>
			<li>Park Hyatt, Perth, Australia</li>
			<li>Paris Mariott Champs, France</li>
			<li>The Ritz Carlton, New York</li>
		  </ul>
   
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2>Duration:</h2>
        <p>20 days</p>
      </div>
      <div class="col-md-6">
        <h2>Cost:</h2>
        <p>$35,000 per person</p>
      </div>
    </div>
</div>

<button type="submit" class="btn btn-success" (click)="myfun()">Book Now</button>
<button type="reset" class="btn btn-danger">Cancel</button>
