/* Animation for places to visit */
ul {
  animation-name: slideInLeft;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation for hotel name */
p {
  animation-name: slideInRight;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Animation for trip duration */
.col-md-6:nth-child(3) p {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animation for cost */
.col-md-6:nth-child(4) p {
  animation-name: flipInY;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes flipInY {
  from {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0);
    opacity: 1;
  }
}

