<h2 style="text-align: center;">Most Happening Tours</h2>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="carousel slide" data-bs-ride="carousel" id="myimgs">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <img src="https://images.unsplash.com/photo-1540747913346-19e32dc3e97e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1005&q=80" class="img-thumbnail" height="100%" width="100%">
                        <div class="paragraph">
                          <h3>Tour Of Cricket</h3>
                            <p style="text-transform: capitalize;">
                                A tour of cricket will take you to some of the most iconic cricket grounds around the world, where you can witness thrilling matches and cheer on your favorite teams. Whether you're a fan of international cricket, domestic cricket, or the fast-paced action of T20 cricket, there are tours available that cater to your interests and preferences.

                                In addition to the excitement of watching live matches, a tour of cricket offers plenty of opportunities to explore the local culture and attractions. Depending on your destination, you can visit historic landmarks, taste local cuisine, shop for souvenirs, and even participate in cricket clinics and coaching sessions to improve your own skills.
                                
                                Some of the most popular destinations for cricket tours include England, Australia, India, South Africa, Sri Lanka, and the West Indies. Each destination offers a unique experience, from the historical roots of the sport in England to the electrifying atmosphere of a match in India or the Caribbean.
                                
                                So whether you're a die-hard cricket fan or just looking for a new adventure, a tour of cricket is an unforgettable experience that will leave you with lasting memories and a deeper appreciation for the sport and its global community.
                                
                                
                                
                                
                                
                                 
                            </p>
                        </div>
                  </div>    
                  <div class="carousel-item">
                      <img src="https://images.unsplash.com/photo-1624072213576-766398edb398?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img-thumbnail" height="100%" width="100%"> 
                      <div class="paragraph">
                        <h3>Tour Of Football</h3>
                        <p style="text-transform: capitalize;">
                            A tour of football can take you to some of the most famous football destinations, including England, Spain, Italy, Germany, Brazil, and Argentina, among others. Whether you're a fan of Premier League, La Liga, Serie A, Bundesliga, or any other football league, there are tours available that cater to your interests and preferences.

A typical tour of football will include visits to the most historic and iconic football stadiums, where you can take a behind-the-scenes tour, learn about the history of the sport and the club, and even get a chance to meet former players and coaches. You can also explore the local culture and attractions, from sampling local cuisine to experiencing the vibrant nightlife and shopping scenes.
                        </p>    
                      </div>    
                  </div>    
                  <div class="carousel-item">
                      <img src="https://images.unsplash.com/photo-1622279457486-62dcc4a431d6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="img-thumbnail" height="100%" width="100%">
                      <div class="paragraph">
                        <h3>Tour Of Tennis</h3>
                        <p style="text-transform: capitalize;">
                            A typical tour of tennis will include access to some of the most historic and iconic tennis venues in the world, where you can take guided tours, learn about the history of the sport and the tournament, and even play on the same courts where the world's greatest tennis players have competed. You can also participate in coaching sessions and clinics to improve your own game or attend player meet-and-greets for an up-close and personal experience with your favorite players.

                            Of course, the highlight of any tennis tour is the chance to witness live matches, where you can see the world's top players compete at the highest level. Whether you're watching a high-stakes Grand Slam match or a local tournament, the atmosphere at a tennis venue is electric, as fans come together to support their favorite players and create an unforgettable experience.  
                        </p>
                     </div>
                  </div>   
              </div>
              <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#myimgs">            
              <span class="carousel-control-prev-icon"></span>    
              </button>
              <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#myimgs">            
              <span class="carousel-control-next-icon"></span>    
              </button>   
          </div>    
      </div>    
  </div>    
</div>    


